.home-main {
  text-align: center;
}

.home-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: peachpuff;
}

.home-header {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tea-icon {
  width: 45px;
  margin: 5px;
}

.subscription-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.subscription-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 25px;
  border-style: solid;
  border-radius: 8px;
  width: 300px;
}

.subscription-title {
  font-size: 1.75rem;
}

.subscription-price {
  font-size: 1.2rem;
  color: #555;
}

.subscription-image {
  border-radius: 25px;
  background: #aacf76;
  padding: 20px;
  width: 230px;
  height: 180px;
}